html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  padding-top: .5rem;
}

body {
  margin: 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;

  list-style-type: none;
  margin: 0;
  gap: 1rem;
  padding: 1rem;
}

h1 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
  margin: 0;
  padding: .7rem;
  padding-top: .9rem;
}

h2 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
  margin: 0;
  padding: 1rem 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0 1rem;
  padding-bottom: 1rem;
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;s
}

li a {
  color: #f5f2f0;
  border: 2px solid #623b0c;
  background-color: #623b0c;
  border-radius: 8px;
  text-decoration: none;

  padding: .5rem .75rem;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

li p {
  padding: .4rem 0;
  flex-grow: 1;
}
