html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  color: #623b0c;
  font-family: 'Denk One', sans-serif;
}
